

@media(max-width:992px){
    .espacio{
        margin-left: 0px;
    }
}

.bordes{
    border-radius: 30px;
    border-style: solid;
    border-color: dimgray;
    height: 500px;
    margin-left: 7%;
    
}

body{
    background-color: rgb(101, 232, 255);
}
